:root{
		--color-1:#754100;
		--color-2:#C1680F;
		--color-3:#CC4D16;
		--color-4:#378194;
		--color-5:#007471;
		--color-6:#bc6c25;
		--color-7:#dda15e;
		--color-8:#fefae0;
		--color-9:#141b0c; 
		--color-10:#606c38;
		--color-11:#CFEE91;
		--color-12:#F8EEB4;
		--color-13: #f2e8cf;
		--color-14: #a7c957;
		--color-15: #6a994e;
		--color-16: #386641;
		--color-17: #151719;
		--color-18: #25282C;
		--color-19: #33363A

}
// $border--color: (
// 	divider:			get-color(dark; 2);
// 	divider-inverse:	get-color(light; 1)
// );
// @function getcolor($elem) {
// 	@return map-get($palette; $elem);
// }
//'var(--color-13)'
